doctype html
html
	include ./layouts/header.jade    
	body
		include ./layouts/mnu_top.jade

		main(role="main")
			div.row.mb-5.mt-5
				div.col-xs-1.col-sm-1.col-md-1.col-lg-1
				div.col-xs-10.col-sm-10.col-md-10.col-lg-10
					br
					h1 Productos
					small.blockquote-footer En esta sección veremos un ejemplo de p&aacute;gina din&aacute;mica mostrando algunos productos de ejemplo de la base de datos.

					div.row.mt-4
						div.col-xs-12.col-sm-12.col-md-12.col-lg-12

							if productos.length == 0
								p Actualmente no existen productos para mostrar
							else
								table.table.table-bordered.table-hover
									thead.thead-dark
										tr
											th(scope="col") Id
											th(scope="col") Nombre
											th(scope="col") Descripci&oacute;n
											th(scope="col") Precio (ARS)
											th(scope="col") Imagen
										for producto in productos
											tbody
												tr
													td(class="align-middle text-center")=producto.id
													td(class="align-middle text-center")=producto.nombre
													td(class="align-middle text-center")=producto.descripcion
													td(class="align-middle text-right")='$'+producto.precio
													td(class="align-middle text-center")
														img(src='/img/#{producto.imagen}', alt='#{producto.descripcion}', style='width: 100px;').rounded.border.border-dark

				div.col-xs-1.col-sm-1.col-md-1.col-lg-1			

		include ./layouts/footer.jade